body {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.counter__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #4191ff;
  font-weight: 700;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: 2px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 100px;
  width: 500px;
  color: #fff;
  /* padding: 28px 163px; */
  border-radius: 20px;
  transition: border 0.3s linear, color 0.3s linear,
    background-color 0.3s linear;
}

.btn--counter {
  background-color: #4191ff;
}

.btn--reset {
  background-color: #d45366;
}

.btn:hover {
  background-color: #fff;
}

.btn--counter:hover {
  border: 2px solid #4191ff;
  color: #4191ff;
}

.btn--reset:hover {
  border: 2px solid #d45366;
  color: #d45366;
}

.btn + .btn {
  margin-top: 36px;
}

.counter {
  font-size: 32px;
  line-height: 43px;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 25px;
  }

  .counter {
    font-size: 25px;
  }
}
